

* {
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

.fondo {
    text-align: center;
}

body{
    padding: 0%;
    text-decoration: none;

   }
  
  #menu-arriba {
    position: relative;
    z-index: 9;
    display: grid;
    font: small-caps 400%/200% serif;
    background-color: #088484;
    border-bottom: solid 0.1px white;
  
  }

  ul {
    list-style:none;
    border-top: solid 0.1px white;
    color: black;
    display: inline;
    background-color: #088484;
  }
 

  ul li b {
    color: white;
    text-decoration: none;

  }

  .adri {
    background-color: #088484;

  }
  .redireccion {
    background-color: #088484;
    color: white;
    text-align: center;
  }