

* {
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

.fondo {
    background-color: #088484;
    text-align: center;
}

body{
    padding: 0%;
   }






   @import url("https://fonts.googleapis.com/css?family=Roboto:500,600");
   @import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
   
   button {
       outline: 0;
       background: #5380F7;
       color: white;
       display: inline-flex;
       align-items: center;
       justify-content: space-between;
       min-width: 260px;
       border: 0;
       border-radius: 4px;
       box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
       box-sizing: border-box;
       padding: 16px 20x;
       font-family: "Roboto", sans-serif;
       font-size: 12px;
       font-weight: 600;
       letter-spacing: 1.2px;
       text-transform: uppercase;
       cursor: pointer;
       position: relative;
       left:553px;
       background-color: #088484;
       z-index: 99;
       border: white 1px solid;
   }
  
   .btn i {
       font-size: 1.2em;
       border-radius: 100%;
       animation: ripple 2s linear infinite;
       z-index: 1;
       
      
   }
   
   @keyframes ripple {
       0% {
           box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
           box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
           box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
           box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
       }

       50% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
        box-shadow: -220px 0 0 1px rgba(255, 255, 255, 0.1);
        box-shadow: -230px 0 0 2px rgba(255, 255, 255, 0.1);
        box-shadow: -240px 0 0 8px rgba(255, 255, 255, 0.1);
        box-shadow: -250px 0 0 11px rgba(255, 255, 255, 0.1);
        }
   
       100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
    }
   }
   
   .dropdown {
       position: absolute;
       width: 100%;
       background: white;
       top: 100%;
       left: 0;
       padding: 0;
       margin: 0;
       list-style: none;
       border-radius: 4px;
       box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
       text-align: left;
       transition: 0.3 ease;
       z-index: 9999;
    
   }
   
   .dropdown::before {
       content: "";
       position: absolute;
       top: -6px;
       left: 20px;
       width: 0;
       height: 0;
       box-shadow: 2px -2px 6px #0000000d;
       border-top: 6px solid #FFFFFF;
       border-right: 6px solid #FFFFFF;
       border-bottom: 6px solid transparent;
       border-left: 6px solid transparent;
       transform: rotate(-45deg);
   }
   
   li {
       background: #FFFFFF;
       color: #666;
       padding: 0 20px;
       margin: 0 4px;
   }
   
   li.active {
       color: #5380F7
   }
   
   a {
       display: block;
       border-bottom: 1px solid #0000000d;
       padding: 16px 0;
       color: inherit;
       font-size: 10px;
       font-weight: 500;
       text-decoration: none;
   }

   
   .dropdown {
       opacity: 0;
       visibility: hidden;
   }
   
   button:focus .dropdown,
   button:active .dropdown {
       transform: translate(0, 10px);
       opacity: 1;
       visibility: visible;
   
   }
   

   
   





  
  #menu-arriba {
    position: relative;
    z-index: 9;
    display: grid;
    font: small-caps 400%/200% serif;
    background-color: 088484;
  
  }
