

* {
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

.fondo {
    text-align: center;
}

body{
    padding: 0%;
    text-decoration: none;

   }
  
  #menu-arriba {
    position: relative;
    z-index: 9;
    display: grid;
    font: small-caps 400%/200% serif;
    background-color: #088484;
    border-bottom: solid 0.1px white;
  
  }

  ul {
    list-style:none;
    border-top: solid 0.1px white;
    display: inline;
  }
 

  ul li a {
    color: white;
    text-decoration: none;

  }
  .redireccion {
    position: sticky;
    background-color: #088484;
    text-align: center;
    width: 100%;
    float: left;
    height: 30px;
    margin-bottom: 1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .redireccion li {
    display: inline;
  }

  .redireccion ul li {
  font-family: Arial;
  font-size: 1em;
  font-style: none;
  color: #ffffff;
  padding: 11px;
  text-decoration: none;
}

.redireccion ul li:link{
  background-color: #088484;
  color: #ffffff;
}

.redireccion ul li:hover{
  background-color: #088484;
  width: 1px;
}

.redireccion ul li a {
  position: relative;
}

.redireccion ul {
  padding: 3em;
}

.codigo {
  word-spacing: 1vh;
  position: absolute;
}

.codigo p {
  margin-right: 15px;
  margin-right: 15px;
}

.codigo div {
  position: relative;
  margin-top: 50px;
}